data_manifests/
sequence_index/
annotation_index/
window_index/
token_shards/
configs/local*
logs/
checkpoints/
results/
*.parquet
*.arrow
*.bin
*.idx
*.pt
*.pth
*.safetensors
*.ckpt
*.fa
*.fasta
*.fna
*.fa.gz
*.fasta.gz
*.fna.gz
*.gff
*.gff3
*.gtf
*.gff.gz
*.gff3.gz
*.gtf.gz
